<form>
    <table>
        <tr>
            <td>
                <label for="usr">Korisnicko ime</label>
            </td>
            <td>
                <input type="text" [(ngModel)]="korisnicko_ime" name="username" id="usr">
            </td>
        </tr>
        <tr>
            <td>
                <label for="pass">Lozinka</label>
            </td>
            <td>
                <input type="password" [(ngModel)]="lozinka" name="password" id="pass">
            </td>
        </tr>
        <tr>
            <td>
                <label for="typ">Tip</label>
            </td>
            <td>
                <select [(ngModel)]="tip" name="type" id="typ">
                    <option value="student">Student</option>
                    <option value="nastavnik">Nastavnik</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="login()">Login</button>
            </td>
            <td class="err">
                {{errorMessage}}
            </td>
        </tr>
    </table>
</form>
